{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    
    
    <style>
      .box{
        background-color: orange;
        width: 200px;
        height: 200px;
        margin: 15px;
      }
      
      .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      
      #parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        background-color: purple;
        height: 800px;
        
      }
    
    
    </style>
    
	</head>
	<body>
		<!-- Your layout here -->
     <div id="parent">
      <div class="row">
        <div class="box"> </div>
        <div class="box"> </div> 
        <div class="box"> </div>
        <div class="box"> </div> 
        <div class="box"> </div> 
      </div>
       
       <div class="row">
        <div class="box"> </div>
        <div class="box"> </div> 
        <div class="box"> </div> 
         <div class="box"> </div> 
        <div class="box"> </div> 
      </div>
       
       
       <div class="row">
        <div class="box"> </div>
        <div class="box"> </div> 
        <div class="box"> </div> 
         <div class="box"> </div> 
        <div class="box"> </div> 
      </div>
     
    </div>

	</body>
</html>